@model List<appUser>;
@{
    Layout = "_Admin";
}
<div style="padding:30px 0;text-align:right;">
    <a asp-action="AddEditor" asp-controller="Editor" style="background-color:#1f2937;text-decoration:none;color:white;padding:15px 30px">Add</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">name</th>
    </tr>
  </thead>
  <tbody>
      @{
          foreach (appUser editor in @Model)
          {
            <tr>
              <td>@editor.NormalizedUserName</td>
                  <td>
                      <a  asp-controller="Editor" asp-action="delete" asp-route-id="@editor.Id" >
                        <i class="fa-solid fa-trash-can"></i>
                      </a>
                  </td>
            </tr>          
          }
      }
  </tbody>
</table>





